<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment Comparison</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styling.css') }}">
</head>

<body>
    <div id="header">
        <h1>Apartment Comparison</h1>
    </div>
    <div id="leftcolumn">
        <ul>
            {% for apartment in apartments %}
            {% if apartment.get('id') == aptid %}
            <li><a class="active" href="#">{{ apartment.get('name') }}</a></li>
            {% else %}
            <li><a href="/{{ apartment.get('id') }}">{{ apartment.get('name')
                    }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="content">
        <form method="POST" action="{{ url_for('index') }}">
            <input type="hidden" id="id" name="id" value="{{ aptid }}">
            <input type="hidden" id="name" name="name" value="{{ name }}">
            <input type="hidden" id="address" name="address" value="{{ address }}">
            <input type="hidden" id="url" name="url" value="{{ url }}">
            <div class="feature-list">
                <h1 class="title">{{ name.upper() }}</h1>
                <h2>{{ address }}</h2>
                <h2><a href="{{ url }}" target="_blank">{{ url }}</a></h2>
            </div>
            <div id="apt-features">
                {% for feature, value in current_apt.items() %}
                <div class="feature-box">
                    {% if feature_type_map.get(feature) == 'integer' %}
                    <h2>{{ feature.upper() }}</h2>
                    <input class="bigbox" type="text" size="20" name="{{ feature }}"
                        value="{{ value }}">
                    {% endif %}
                    {% if feature_type_map.get(feature) == 'text' %}
                    <h2>{{ feature.upper() }}</h2>
                    <input type="text" class="bigbox" size="20" name="{{ feature }}"
                        value="{{ value }}">
                    </textarea>
                    {% endif %}
                    {% if feature_type_map.get(feature) == 'boolean' %}
                    {% if value == 1 %}
                    <label class="checkboxes">
                        <h2>{{ feature.upper() }}
                            <input type="checkbox" id="{{ feature }}-true"
                                name="{{ feature }}" value=1 checked="checked" />
                            <span class="checkmark"></span>
                        </h2>
                    </label>
                    {% else %}
                    <label class="checkboxes">
                        <h2>{{ feature.upper() }}
                            <input type="checkbox" id="{{ feature }}-true"
                                name="{{ feature }}" value=1 />
                            <span class="checkmark"></span>
                        </h2>
                    </label>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="feature-list">
                <h2>NOTES</h2>
                <textarea class="bigbox" rows="5" cols="90" name="notes">
                    {{ notes }}</textarea>
                <br /><br />
                <input class="bigbox" type="submit" value="Edit Apartment Info">
            </div>
        </form>
    </div>

</body>

</html>